<form [formGroup]="formulario" (ngSubmit)="onSubmit()"><!-- Linka o formulario criado na component-->
    <div class="form-group mb-2">
        <div class="col-sm-12">
            <label for="nome" class="control-label">Nome</label>
            <input type="text" class="form-control" placeholder="Nome" required formControlName="nome"><!-- Associa o input ao component-->
        </div>
    </div>
    <div class="form-group mb-2">
        <div class="col-sm-12">
            <label for="email" class="control-label">Email</label>
            <input type="email" class="form-control" placeholder="nome@email.com" required formControlName="email">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <button class="btn btn-success" (click)="resetar()">Cancelar</button>
</form>